.faq {
  background-color: $color-bg-primary;
}

.faq__container {
  padding: 71px 15px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;

  @media (min-width: $tablet-width) {
    padding: 61px 45px 60px;
    gap: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: flex-start;
    column-gap: 40px;
    row-gap: 50px;
  }
}

.faq__title {
  margin: 0;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    font-size: 2.63rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 3.38rem;
    grid-column: 1/3;
  }
}

.faq__category-list {
  width: 100%;
  padding: 0;
  margin: 0 0 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.faq__category-text {
  padding: 14px 23px;
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 1em;
  border: 1px solid $color-tab-border;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 17px 23px;
    font-size: 1.13rem;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border: 1px solid $color-font-primary;
  }
}

.faq__category-input:active + .faq__category-text {
  color: $color-bg-secondary;
  background: linear-gradient(112deg, #ed0233 0%, #003eb7 100%);
  border-image: linear-gradient(112deg, #ed0233 0%, #003eb7 100%) 1;
}

.faq__category-input:disabled + .faq__category-text {
  opacity: 0.2;
}

.faq__category-input:checked + .faq__category-text {
  color: $color-bg-secondary;
  background: linear-gradient(112deg, #ed0233 0%, #003eb7 100%);
  border-image: linear-gradient(112deg, #ed0233 0%, #003eb7 100%) 1;
}

.faq__questions-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.faq__questions-item {
  padding: 20px 0;
  flex-direction: column;
  border-top: 1px solid $color-btn-divider;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 22px;
  }
}

.faq__questions-item:last-child {
  padding: 20px 0;
  border-bottom: 1px solid $color-btn-divider;

  @media (min-width: $tablet-width) {
    padding: 23px 0 22px;
  }
}

.faq__questions-item:first-child {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 0;
  }
}

.faq__questions-item p {
  margin: 0;
  padding-right: 52px;
  margin-block-start: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 1rem;
  font-weight: 300;
  color: transparent;
  transition: line-height 1s ease, color 0.6s ease, margin-block-start 1s ease;

  @media (min-width: $tablet-width) {
    padding-right: 118px;
    letter-spacing: -0.03px;
    font-size: 1.13rem;
  }

  @media (min-width: $desktop-width) {
    padding-right: 201px;
  }
}

.faq__questions-item--opened p {
  margin-block-start: 1.25em;
  line-height: 1.25;
  color: $color-font-primary;
  transition: line-height 1s ease, color 1.6s ease, margin-block-start 1s ease;

  @media (min-width: $tablet-width) {
    margin-block-start: 0.55em;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    margin-block-start: 1.29em;
  }
}

.faq__questions-item--opened .faq__questions-button {
  background-color: $color-btn-border;
  transition: background-color 1s ease;
}

.faq__questions-item--opened .faq__questions-button::after {
  background-color: $color-bg-secondary;
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.faq__questions-item--opened .faq__questions-button::before {
  background-color: $color-bg-secondary;
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.faq__questions-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.faq__questions-title-wrapper h3 {
  text-align: left;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1em;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 1px 0 0;
    font-size: 1.37rem;
    letter-spacing: 0.05px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
}

.faq__questions-title-wrapper h3 br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.faq__questions-button {
  position: relative;
  padding: 14px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid $color-btn-border;
  transition: background-color 1s ease;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    left: 25%;
    background-color: $color-btn-border;
    transition: transform 1s ease, background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 20px;
      left: 24%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    left: 25%;
    transform: rotate(90deg);
    background-color: $color-btn-border;
    transition: transform 1s ease, background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 20px;
      left: 24%;
    }
  }
}

.faq__questions-button:hover {
  background-color: $color-btn-border;
  transition: background-color 0.3s ease;

  &::before {
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;
  }

  &::after {
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;
  }
}

.faq__questions-button:focus,
.faq__questions-button:focus-visible {
  border: 1px solid $color-font-primary;
  background-color: $color-btn-divider;
  transition: background-color 0.3s ease;

  &::before {
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;
  }

  &::after {
    background-color: $color-bg-secondary;
    transition: background-color 0.3s ease;
  }
}

.faq__questions-button:disabled {
  opacity: 0.3;
}

.faq__questions-button.faq__questions-button--opened {
  background-color: $color-font-primary;
  transition: background-color 1s ease;

  &::after {
    background-color: $color-bg-secondary;
    transform: rotate(180deg);
    transition: transform 1s ease;
  }

  &::before {
    background-color: $color-bg-secondary;
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
}

.faq__questions-button.faq__questions-button--closed {
  position: relative;
  padding: 14px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid $color-btn-border;
  transition: background-color 1s ease;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    left: 25%;
    background-color: $color-btn-border;
    transition: transform 1s ease, background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 20px;
      left: 24%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    left: 25%;
    transform: rotate(90deg);
    background-color: $color-btn-border;
    transition: transform 1s ease, background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      width: 20px;
      left: 24%;
    }
  }
}

.faq__category-questions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq__category-question-item {
  height: 0;
  overflow: hidden;
}

.faq__container:has(.faq__category-club:checked) .faq__category-question-club,
.faq__container:has(.faq__category-membership:checked) .faq__category-question-membership,
.faq__container:has(.faq__category-service:checked) .faq__category-question-service,
.faq__container:has(.faq__category-rules:checked) .faq__category-question-rules {
  height: 100%;
}
