.features {
  background-color: $color-bg-primary;
}

.features__wrapper {
  padding: 41px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 39px;

  @media (min-width: $tablet-width) {
    padding: 61px 45px 60px;
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
    gap: 50px;
  }
}

.features__title {
  margin: 0;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 2.625rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 3.375rem;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
    column-gap: 30px;
    row-gap: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, minmax(360px, 1fr));
    gap: 40px;
    row-gap: 80px;
    align-items: flex-start;
  }
}

.features__list li {
  width: 100%;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
    }

    &:nth-child(3) {
      grid-column: 1/3;
      max-width: 320px;
      justify-self: center;

      @media (min-width: $desktop-width) {
        max-width: 100%;
      }
    }

    &:nth-child(4) {
      grid-column: 1/2;
    }

    &:nth-child(5) {
      grid-column: 2/3;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      grid-column: 3/4;
    }

    &:nth-child(3) {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    &:nth-child(5) {
      grid-column: 3/4;
    }
  }
}

.features__list li div {
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
  }

  @media (min-width: $desktop-width) {
    column-gap: 79px;
  }
}

.features__list li:first-child {
  position: relative;

  @media (min-width: $desktop-width) {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -47px;
      left: 0;
      background-color: rgba(209, 10, 66, 0.2);
    }
  }
}

.features__list li:nth-child(2) {
  position: relative;

  @media (min-width: $desktop-width) {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -47px;
      left: 0;
      background-color: rgba(209, 10, 66, 0.2);
    }
  }
}

.features__list p:first-child {
  margin: 0 0 1px;
  font-size: 4rem;
  line-height: 1em;
  font-weight: 700;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 50%, #0041ca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 4.375rem;
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.features__list p:last-child {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.57em;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: baseline;
    text-align: start;
    font-size: 1rem;
    line-height: 1.5em;
  }
}

.features__list span {
  margin: 0 0 11px;
  font-size: 0.875rem;
  line-height: 1.43em;
  color: $color-font-five;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    line-height: 1.57;
  }
}

.features__list h3 {
  margin: 0 0 13px;
  font-size: 1.125rem;
  line-height: 1.11em;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 12px;
    font-size: 1.25rem;
    line-height: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 8px;
    font-size: 1.375rem;
  }
}

.features__list li:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.features__list li:nth-child(3) div {
  margin: 5px 0 6px;
  padding: 30px 30px 39px;
  background-color: #1c3374;
  color: $color-bg-secondary;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 35px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 58px 40px;
    gap: 10px;
  }
}

.features__list li:nth-child(3) p:first-child {
  -webkit-text-fill-color: $color-bg-secondary;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.features__list li:nth-child(3) p:last-child {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.features__list li:nth-child(3) h3 {
  margin-bottom: 20px;
  font-size: 1.375rem;
  line-height: 1em;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 1.5rem;
  }

  @media (min-width: $desktop-width) {
    font-size: 1.625rem;
    margin-bottom: 20px;
  }
}

.features__list li:nth-child(1) div,
.features__list li:nth-child(4) div {
  column-gap: 15px;

  @media (min-width: $desktop-width) {
    column-gap: 44px;
  }
}

.features__list li:nth-child(2) div {
  column-gap: 7px;

  @media (min-width: $desktop-width) {
    column-gap: 79px;
  }
}

.features__list li:nth-child(5) div {
  column-gap: 4px;

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}
