.feedback {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.feedback__form {
  padding: 71px 15px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-font-primary;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 103px;
    align-items: flex-end;
  }
}

.feedback__form-fieldset {
  width: 100%;
  padding: 0;
  margin: 0 0 36px;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
  }
}

.feedback__form-title {
  margin: 0 0 36px;
  padding: 0;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: left;
  color: $color-bg-primary;
  letter-spacing: -0.02px;

  @media (min-width: $tablet-width) {
    font-size: 3.38rem;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: -0.05px;
    text-align: right;
    padding: 0 129.8px 0 0;
  }
}

.feedback__form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 37px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.feedback__form-item {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 205px;
  }

  @media (min-width: $desktop-width) {
    min-width: 223px;
  }
}

.feedback__form-input {
  width: 100%;
  padding: 0 0 3px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-btn-divider;
  font-size: 0.88rem;
  line-height: 1.57em;
  font-weight: 300;
  color: $color-bg-primary;
  outline: none;
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 1px solid $color-bg-primary;
    transition: border-bottom 0.3s ease;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid $color-bg-primary;
  }

  &:focus::placeholder,
  &:focus-visible::placeholder {
    opacity: 0;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.feedback__form-error {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.88rem;
  line-height: 1.57em;
  font-weight: 400;
  color: $color-error;
}

.feedback__form-button {
  width: 290px;
  height: 60px;
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-bg-primary;
  background-color: transparent;
  border: 2px solid $color-bg-primary;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 440px;
    height: 66px;
    padding: 26px 56px 24px;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
    padding: 25px 56px;
  }

  &:hover {
    color: $color-font-secondary;
    background-color: $color-bg-secondary;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  &:focus,
  &:focus-visible {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  &:active {
    color: $color-font-primary;
    background-color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.feedback__contacts {
  padding: 37px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 60px 45px 58px;
    gap: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 103px;
    align-items: flex-start;
  }
}

.feedback__contacts-title {
  margin: 0;
  padding: 0;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 3.38rem;
    letter-spacing: -0.2px;
  }
}

.feedback__contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 27px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    row-gap: 13px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: 50%;
      background-color: $color-btn-divider;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 477px;
    column-gap: 120px;
    row-gap: 13px;
  }
}

.feedback__contacts-item-title {
  margin: 0 0 13px;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1em;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 7px;
    font-size: 1.5rem;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 7px;
  }
}

.feedback__contacts-item:nth-child(2) {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.feedback__contacts-item:nth-child(3) {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.feedback__contacts-item:nth-child(4) {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.feedback__contacts-text {
  margin: 0;
  padding: 0;
  font-size: 0.88rem;
  line-height: 1.45em;
  font-weight: 400;
  letter-spacing: -0.02px;

  @media (min-width: $tablet-width) {
    line-height: 1.57em;
    letter-spacing: normal;
  }
}

.feedback__contacts-link {
  margin: 0;
  padding: 0;
  font-size: 0.88rem;
  line-height: 1.43em;
  font-weight: 400;
  text-decoration: none;
  color: $color-font-primary;
  letter-spacing: -0.03px;

    &:hover {
    border-bottom: 1px solid $color-font-primary;
    transition: border 0.3s ease;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $color-font-primary;
  }

  &:active {
    outline: none;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease;
  }
}

.feedback__contacts-link[disabled] {
  opacity: 0.4;
  pointer-events: none;
}
