.hero {
  background:
    linear-gradient(
      90deg,
      #1c3477 0%,
      #1c3477 0.01%,
      #1a3578 39.11%,
      #73184b 75.5%,
      #b4022a 100%
    );
}

.hero__header {
  min-width: 320px;
  max-width: $desktop-width;
  padding: 9px 16px 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 48px;
  gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 24px 45px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 103px;
    margin: 0 auto 30px;
  }
}

.hero__header-icon {
  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.hero__header-tel {
  padding: 6px 0 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  outline: none;
  transition: opacity 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid transparent;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 5px;
    font-size: 26px;
    line-height: 26px;
  }

  &:hover {
    color: $color-btn-border;
    opacity: 0.5;
    transition: opacity 0.3s ease, color 0.3s ease;
  }

  &:focus,
  &:focus-visible {
    color: $color-btn-border;
    opacity: 1;
    transition: opacity 0.3s ease, color 0.3s ease;
  }

  &:active {
    color: $color-font-primary;
    opacity: 1;
    border-bottom: 1px solid $color-font-primary;
    transition: opacity 0.3s ease, color 0.3s ease;
  }
}

.hero__header-tel[disabled] {
  color: $color-bg-primary;
  pointer-events: none;
}

.hero__content-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 15px 32px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 45px 100px;
    max-width: $desktop-width;
    justify-content: space-evenly;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px 120px;
    justify-content: space-between;
    gap: initial;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px 120px 250px;
  }
}

.hero__content {
  display: grid;
  grid-template-columns: auto 156px;
  align-items: flex-end;
  justify-self: end;
  max-width: 385px;
  gap: 21px;
  row-gap: 47px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 185px;
    column-gap: 26px;
    row-gap: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 270px;
    gap: 26px;
    row-gap: 48px;
  }

  @media (min-width: $desktop-width) {
    gap: initial;
    row-gap: 40px;
  }
}

.hero__content-img {
  display: block;
  object-fit: cover;
}
