.juri {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 40px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
    gap: 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 49px;
  }
}

.juri__title {
  margin: 1px 0 -1px -1px;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 3.375rem;
  }
}

.juri__swiper-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.juri__swiper-wrapper {
  display: flex;
  overflow: initial;
  padding: 0;
  list-style-type: none;
}

.juri__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover > .juri__description {
    opacity: 1;
    transition: opacity 0.4s;

    &:before {
      opacity: 1;
      transition: opacity 0.4s;
    }
  }
}

.juri__swiper-navigation {
  position: absolute;
  width: 687px;
  top: calc(60% + 4px);
  left: calc(50% - 343px);

  @media (min-width: $desktop-width) {
    width: 1286px;
    left: calc(50% - 641px);
    top: calc(57% + 6px);
  }
}

.juri__swiper-button-prev {
  width: 16px;
  height: 32px;
  display: none;
  color: $color-font-primary;
  --swiper-navigation-size: 32px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.juri__swiper-button-next {
  width: 16px;
  height: 32px;
  display: none;
  color: $color-font-primary;
  --swiper-navigation-size: 32px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.juri__img {
  display: flex;
  width: 260px;
  height: 300px;
}

.juri__picture {
  position: relative;
}

.juri__description-wrapper {
  background-color: #102654;
  background-blend-mode: multiply;
}

.juri__description {
  position: absolute;
  width: 260px;
  height: 300px;
  padding: 45px 40px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 10;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 38, 84, 0.89);
    mix-blend-mode: color;
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.juri__description-title {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1em;
  font-weight: 400;
}

.juri__description-sub-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}

.juri__description-list {
  padding: 0;
  margin: 0;
}

.juri__description-item {
  text-align: start;
}

.juri__description-text {
  display: flex;
  flex: 0;
  font-size: 0.875rem;
  line-height: 1.57em;
  font-weight: 400;
}
