.offers {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.offers__title {
  margin: 0;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.offers__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.offers__main-container {
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  & div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-accent;
    color: $color-bg-secondary;

    @media (min-width: $tablet-width) {
      justify-content: start;
      align-items: start;
    }

    @media (min-width: $desktop-width) {
      padding: 40px 45px;
    }

    & h3 {
      margin: 0 0 9px;
      font-size: 1.375rem;
      line-height: 1em;
      font-weight: 700;

      @media (min-width: $tablet-width) {
        margin: 0 0 20px;
        font-size: 1.5rem;
      }

      @media (min-width: $desktop-width) {
        font-size: 1.625rem;
      }
    }

    & span {
      margin: 0 0 40px;
      font-size: 4rem;
      line-height: 1em;
      font-weight: 700;

      @media (min-width: $tablet-width) {
        font-size: 4.375rem;
      }
    }

    & p {
      margin: 0 0 28px;
      font-size: 1rem;
      line-height: 1.25em;
      font-weight: 300;
      text-align: center;

      @media (min-width: $tablet-width) {
        font-size: 1.125rem;
        line-height: 1.33em;
        text-align: left;
      }
    }

    & a {
      padding-bottom: 5px;
      font-size: 0.875rem;
      line-height: 1em;
      font-weight: 700;
      color: $color-bg-secondary;
      text-decoration: none;
      border-bottom: 1px solid $color-bg-secondary;

      @media (min-width: $tablet-width) {
        margin-top: auto;
      }
    }
  }
}

.offers__main-picture {
  display: contents;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.offers__main-img {
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.offers__other-container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: auto;
  }
}

.offers__other {
  width: 100% ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(158deg, $color-accent 0%, #00359f 100%) 1;

  @media (min-width: $tablet-width) {
    align-items: start;
    justify-content: flex-start;
    gap: 30px
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media (min-width: $tablet-width) {
      gap: 10px;
      align-items: start;
    }

    & h3 {
      margin: 0;
      font-size: 1.375rem;
      line-height: 1em;
      font-weight: 700;

      @media (min-width: $tablet-width) {
        font-size: 1.625rem;
      }
    }

    & p {
      margin: 0;
      font-size: 0.875rem;
      line-height: 1.57em;
      font-weight: 300;
      text-align: center;

      @media (min-width: $tablet-width) {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: start;
      }
    }
  }
}

.offers__other-link {
  margin-top: auto;
  padding-bottom: 5px;
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: 700;
  color: $color-btn-border;
  text-decoration: none;
  border-bottom: 1px solid  $color-btn-divider;
}
