.reviews {
  position: relative;
  padding: 41px 40px 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 299px;
  }
}

.reviews__title {
  margin: 0 0 39px;
  font-family: $second-family;
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
    font-size: 3.38rem;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 75px;
  }
}

.reviews__swiper-container {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin: 0 auto;
    padding: 0 89px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    padding: 0 80px;
  }
}

.reviews__swiper-wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
}

.reviews__swiper-slide {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  background-color: $color-btn-border;

  @media (min-width: $tablet-width) {
    padding: 41px 30px 40px;
    flex-direction: row;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px;
    gap: 30px;
  }
}

.reviews__swiper-slide picture {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }
}

.reviews__swiper-slide img {
  display: block;
}

.reviews__swiper-slide h3 {
  margin: 0;
  font-size: 1.13rem;
  line-height: 1.1em;
  font-weight: 400;
  color: $color-bg-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 1.38rem;
    line-height: 1em;
  }
}

.reviews__swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    gap: 19px;
  }
}

.reviews__swiper-slide p {
  margin: 0;
  font-size: 0.88rem;
  line-height: 1.57em;
  font-weight: 300;
  color: $color-bg-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5em;
  }
}

.reviews__swiper-navigation {
  position: absolute;
  width: 733px;
  top: calc(59% + 1px);
  left: calc(50% - 366px);

  @media (min-width: $desktop-width) {
    width: 823px;
    left: calc(50% - 411px);
    top: calc(59% + 9px);
  }
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
  display: none;
  color: $color-font-primary;
}

.reviews__swiper-button-prev {
  @media (min-width: $tablet-width) {
    transform: rotate(180deg);
  }
}

.reviews__swiper-button-icon {
  stroke: $color-font-primary;
}

.reviews__swiper-button {
  width: 50px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;

  &::after {
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &:hover {
    border: 1px solid $color-font-primary;
  }

  &:focus {
    border: 1px solid $color-font-primary;
    background-color: #e8e8e8;
  }

  &:active {
    border: 1px solid $color-font-primary;
    background-color: $color-font-primary;
  }
}

.reviews__swiper-button:active > .reviews__swiper-button-icon {
  stroke: #ffffff;
}
