// Colors

$color-font-primary: #102654;
$color-font-secondary: #103aae;
$color-font-third: rgba(16, 38, 84, 0.5);
$color-font-fourth: #e8e8e8;
$color-font-five: #2e35ac;
$color-btn-border: #1c3374;
$color-btn-divider: #74819c;
$color-btn-play-bg: #c8c9cc;
$color-tab-border: rgba(16, 38, 84, 0.2);
$color-accent: #d10a42;
$color-bg-primary: #f8f9fc;
$color-bg-secondary: #ffffff;
$color-bg-accent: #ed0233;
$color-bg-footer: #030a1a;
$color-error: #ff121f;


// Typography

$primary-family: "Roboto Condensed", "Arial", sans-serif;
$second-family: "Alumni Sans", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1366px;


// Cost of lessons
$cost-with-trainer: 5000;
$cost-daytime: 1700;
$cost-full-time: 2700;
